<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title"
                     [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div> 

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Inline form</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" class="form-control full-width" placeholder="Jane Doe">
          <div class="input-group full-width">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <nb-checkbox>Remember me</nb-checkbox>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
